				<% if current_user %>
					<% if current_user.status == 0 %>
						<li>
							<%= link_to "Modules", students_modules_path, :id => 'students_modules_page' %>
						</li>
						<li>
							<%= link_to "Records", students_records_path, :id => 'students_records_page' %>
						</li>
					<% elsif current_user.status == 1 %>
						<li>
							<%= link_to "Search students", search_path, :id => 'search_page' %>
						</li>
						<li>
							<%= link_to "Grade students", lecturer_grade_path, :id => 'lecturer_grade_page' %>
						</li>
					<% elsif current_user.status == 2 %>
						<li>
							<%= link_to "Search students", search_path, :id => 'search_page' %>
						</li>
						<li>
							<%= link_to "Manage lecturers", lecturer_grade_path, :id => 'lecturer_grade_page' %>
						</li>
					<% end %>
				<% end %>
