<%= javascript_include_tag 'search' %>

<h2> Find people you know </h2>

<p>
	<% if @searched_word %>
	You searched for: "<strong><%= @searched_word %></strong>" (<%= @people.size %> result<%= @people.size==1?"":"s" %> found.)
	<% else  %>
	All results (use search bar above to filter results)
	<%end%>
</p>

<% if !@people.empty? %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Sex</th>
			<th>Age</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
		<% @people.each do |t| %>
		<tr>
			<td><%= t.created_at.strftime("%m/%d/%Y") %></td>
			<td><%= t.firstname %></td>
			<td><%= t.lastname %></td>
			<td><%= t.sex %></td>
			<td><%= t.age %></td>
			<td><%= t.adress_street %></td>
			<td><%= t.adress_city %></td>
			<td><%= t.state %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%else%>
No results found.
<%end%>
